body {
  background: hotpink;
}
.bookapp {
  margin: 0 10%;
  font-family: 'Mukta Vaani';
  background-color:rgba(0, 0, 0.5, 0)
}
h1 {
  font-family: 'Lora';
  font-size: 48px;
  font-weight: bold;
}
.red {
  border: dimgray 1px solid;
  padding: 3px 16px 16px 20px;
  height: 32%;
  background: whitesmoke;
  cursor: pointer;
}
a {
cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.result-box {
  text-align: center;
}
.my-class{
  background-color: yellow;
}
button {
  background-color: #4CAF83;
  border: none;
  color: white;
  padding: 11px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}
#issue {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}
#return {
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}

.menu {
  margin-top: 43px;
}

.blue {
 background: aliceblue;
  border: 2px solid black;
}
